<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex="100%"
    *ngFor="let newsItem of news"
  >
    <mat-card>
      <mat-card-title>{{ newsItem.title }}</mat-card-title>
      <img
        [src]="newsItem.image"
        [alt]="'Photo of ' + newsItem.title"
      />
      <mat-card-actions>
        <a
          [routerLink]="['/news/', newsItem.id]"
          mat-button
          color="primary"
        >Read full news</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
