<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between flex-start">
    <a routerLink="/" mat-button>Home</a>
    <a routerLink="/add-new" mat-button>Add New</a>
  </div>
  <router-outlet></router-outlet>
</div>
