


<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <h2>Comments</h2>
  <div
    fxFlex="100%"
    *ngFor="let comment of comments"
  >
    <mat-card>
      <mat-card-title>{{ comment.author }}</mat-card-title>

      <mat-card-actions>
        delete
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<h2>Add comment</h2>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input name="author" required matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <textarea
          name="text"
          required
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >Add</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
